/* All reset  */
*{
    margin: 0;
    padding: 0;
}


/* Header Section CSS */
header{
    border: 2px solid seagreen;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10vw ;
    margin-right: 10vw;

}
header:hover{
    box-shadow: 1px 2px 50px rgb(8, 88, 42);
    cursor: pointer;
}
.header-wrapper{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    
}
.header-wrapper h1{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 48px;
}
.header-wrapper h1:hover{
    color: rgb(4, 58, 20);
    background-color: rgb(252, 249, 243);
    border: 2px solid rgb(226, 225, 222);
    box-shadow: 1px 2px 20px rgb(212, 209, 209);
    width: 300px;
    padding: 5px;
    font-size: 52px;
    text-align: center;
    border-radius: 5px;
}
.header-wrapper p{
    font-size: 20px;
    margin: 5px;
}
.header-wrapper p:hover{
    color: rgb(20, 87, 126);
    background-color: rgb(252, 249, 243);
    border: 2px solid rgb(226, 225, 222);
    box-shadow: 1px 2px 20px rgb(212, 209, 209);
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
}
.header-wrapper h3{
    font-size: 26px;
    color: teal;
}
.header-wrapper h3:hover{
    color: rgb(126, 5, 5);
    background-color: rgb(252, 249, 243);
    border: 2px solid rgb(226, 225, 222);
    box-shadow: 1px 2px 20px rgb(212, 209, 209);
    width: 680px;
    padding: 5px;
    border-radius: 5px;
    font-size: 28px;
}
.contact{
    margin-bottom: 20px;
}
.header-image{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    border: 1px solid seagreen;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.header-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
.header-image img:hover{
    transform: scale(110%, 110%);
    box-shadow: 2px 2px 30px rgb(8, 155, 123);
}




/* Main Section CSS */
main{
    border: 2px solid seagreen;
    
    padding: 10px;
    margin-left: 10vw ;
    margin-right: 10vw;
    margin-top: 40px;
    margin-bottom: 10px;
}
main h2{
    background-color: rgb(6, 88, 6);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 68vw;
    margin-bottom: 10px;
}
main h3{
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
}





/* Objective & Key  first Article */
.objective p{
    text-align: justify;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    word-spacing: 2px;
}

.key{
    margin-top: 50px;
}
.key h3{
    background-color: rgb(229, 226, 226);
    padding: 10px;
    border-radius: 5px;
    color: rgb(15, 1, 1);
    font-weight: 1000;
    border-bottom: 1px solid green;
    width: 60vw;
    margin-bottom: 5px;
}
.key ul{
    list-style: square;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
.key ul li{
    margin-bottom: 5px;
}
.article1{
    padding: 20px;
    margin-bottom: 20px;
}
.article1:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}






/* Second Article Education  */
.article2{
    padding: 20px;
}
.article2:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article2 table{
    border: 1px solid black;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;

}
.article2 th, td{
    border: 1px solid black;
    padding: 10px;
}





/* Honors & Awards Article 3 */
.article3{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article3:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article3 ul{
    list-style: square;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}





/* My Skills, Article 4 */
.article4{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article4:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}






/* Training & Workshop, Article 5 */
.article5{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article5:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article5 .training{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(233, 233, 248);
}
.article5 .training ul{
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.article5  p{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}






/* My Projects Article 6 */
.article6{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article6:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article6 .project{
    margin-bottom: 20px;
}
.article6 a{
    text-decoration: none;
    color: black;
}
.article6 .project:hover{
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(46, 45, 45);
}






/* My Activites Article 7 */
.article7{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article7:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}

.article7 .activity{
    margin-top: 10px;
    margin-bottom: 10px;
}






/* My Online Platform Article 8 */
.article8{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article8:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article8 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.article8 a pre:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 2px 5px gray;
}




/* Language Article 9 */
.article9{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article9:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}




/* Reference Article 10 */
.article10{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article10:hover{
    box-shadow: 1px 2px 20px rgb(3, 2, 110);
}
.article10 .first-ref{
    display: inline-block;
    margin-right: 10px;
}
.article10 .second-ref{
    display: inline-block;
    position: absolute;
    right: 20vw;
}




