
  .third-page h1 {
    font-size: 40px;
    margin-top: 10%;
    line-height: 0.8em;
    color: rgba(255,255,255,0.2);
}
  

  .tabs {
    display: block;
    display: -webkit-flex;
    text-align: center;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden; 
    margin-left: 5%;
    margin-right: 5%;
}
    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
      color: #efedef;
      cursor: pointer;
      display: block;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1em;
      padding: 2rem 0;
      text-align: center; }
    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
      border-bottom: 1px solid rgba(239, 237, 239, 0.5);
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
      .tabs [class*=" tab"] [type="radio"]:hover,
      .tabs [class*=" tab"] [type="radio"]:focus {
        border-bottom: 1px solid #fd264f; }
      .tabs [class^="tab"] [type="radio"]:checked,
      .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid #fd264f; }
      .tabs [class^="tab"] [type="radio"]:checked + div,
      .tabs [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; }
      .tabs [class^="tab"] [type="radio"] + div,
      .tabs [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .tabs .tab-2 {
      width: 33%; 
    }
      .tabs .tab-2 [type="radio"] + div {
        width: 100%;
        text-align: center;
    }
      .tabs .tab-2 [type="radio"]:checked + div {
        text-align: center; 
    }
      .tabs .tab-2:nth-child(2) [type="radio"] + div {
        text-align: center; 
    }
      .tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
        text-align: center;
     }
     .tabs .tab-2:nth-child(3) [type="radio"] + div {
        text-align: center; 
    }
      .tabs .tab-2:nth-child(3) [type="radio"]:checked + div {
        text-align: center;
     }