#box1{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
    font-size: 24px;
}
#box2{
    background-color: rgb(196, 5, 5);
    height: 200px;
    width: 200px;
    font-size: 24px;
    margin-top: 24px;
    padding: 48px;
    box-sizing: border-box;
}
img{
    width: 100%;
}