*{
    margin: 0;
    padding: 0;
}
body{
    background-color: seagreen;
    margin: 10px;
}

.container{
    div{
        padding: 10px;
        text-align: center;
        font-size: 2em;
        color: seashell;
    }
    div:nth-child(1){
        background-color: royalblue;
    }
    div:nth-child(2){
        background-color: rgb(141, 14, 14);
    }
    div:nth-child(3){
        background-color: rgb(16, 110, 110);
    }
    border: 5px solid white;
    display: flex;
    // flex-direction: column; 
    // justify-content: space-evenly;   //space equally
    justify-content: flex-start;
}

// .home{
//     margin-right: auto;  //Home will come to left side
// }
// .search{
//     margin-right: auto; //home & search will come to left
// }
.logout{
    margin-left: auto; //logout will go to right
    
}
