*{
    margin: 0;
    padding: 0;
}

.flex-container{
    height: 800px;
    background: cornflowerblue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
div{
    background: crimson;
    margin: 10px;
    padding: 30px;
    cursor: pointer;

}
div h1{
    color: rgb(8, 83, 8);
    text-align: center;
}